[submodule "src/axp202x"]
	path = src/axp202x
	url = https://github.com/mvturnho/AXP202X_Library.git
[submodule "src/ft5206"]
	path = src/ft5206
	url = https://github.com/mvturnho/FT5206_Library.git
[submodule "src/lvgl"]
	path = src/lvgl
	url = https://github.com/mvturnho/lvgl.git
[submodule "src/TFT_eSPI"]
	path = src/TFT_eSPI
	url = https://github.com/mvturnho/TFT_eSPI.git
[submodule "src/pcf8563"]
	path = src/pcf8563
	url = https://github.com/mvturnho/PCF8563_Library.git
[submodule "src/Button2"]
	path = src/Button2
	url = https://github.com/mvturnho/Button2.git
[submodule "src/S7xG"]
	path = src/S7xG
	url = https://github.com/mvturnho/S7xG_Library.git
[submodule "src/bma423"]
	path = src/bma423
	url = https://github.com/mvturnho/BMA423_Library.git
